/** @format */
.cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  transition: all 200ms;
  overflow-y: scroll;
  overflow-x: hidden;
}
.cart-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: min(95%, 450px);
  box-shadow: -1px 1px 5px var(--shadow-clr);
  margin: 0.3em auto;
  background-color: var(--sec-clr);
  border-radius: 5px;
  transition: all 200ms;
  border: 2px solid var(--sec-clr);
}
.cart-item:hover {
  border-color: var(--shadow-clr);
  background-color: var(--hover-clr);
}

.cart-item img {
  margin: 5px;
  width: 20%;
  min-height: 50px;
  max-height: 50px;
  border: thin solid var(--shadow-clr);
  border-radius: 5px;
}
.cart-item .item-desc {
  text-align: left;
  margin: 5px;
  max-width: 35%;
  min-width: 35%;
  font-size: small;
  /* background: red; */
}
.cart-item .item-name,
.item-price {
}
.item-price {
  color: green;
  font-size: smaller;
}
.isOffer {
  font-size: small;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  margin-left: auto;
}
.edit-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  background: var(--prime-clr);
  border-radius: 5px;
}
.edit-btn,
.delete-btn {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.delete-btn {
  border-right: thin solid var(--sec-clr);
}
.sp-btw {
  justify-content: space-between;
}
.search-for {
  text-align: left;
  width: 90%;
}
